.footer {
  width: 100%;
  border: 2px solid @navigation-border;
  border-radius: 10px;

  p {
    text-align: center;
    color: @font-color;
    font-size: 1.6rem;
    padding: 20px;
  }
  @media @mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 80%;
    margin: 0 auto;
  }
}