// Mixins in here
.linkColor {
    text-decoration: none;
    color: black;
    font-size: 1.75rem;
    font-weight: bold;
    padding: 12px;
}

.containerDisplay(@justify, @align) {
    display: flex;
    justify-content: @justify;
    align-items: @align;
}

.buttonDisplay(@radius, @background, @text) {
    border-radius: @radius;
    background: @background;
    color: @text;
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;

    &:hover {
        color: black;
        background: yellow;
    }
}