// Navigation Styles here
nav {
    .containerDisplay(flex-start, center){
        border-bottom: 2px dashed @navigation-border;
    }
    

    h1{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;
    }
    a {
        .linkColor;
    }
}