// Navigation Styles here
nav {
    display: flex;
    margin: 0 auto;
    border-bottom: 2px dashed @navigation-border;

    h1{
        display: flex;
        justify-content: flex-start;
    }
    a {
        .linkColor;
    }
}